gitignore

mail/sendmail.asp

core/teklynk_logo.psd

sitemap.xml

*sitemap.xml

db/dbconn.php

db/dbsetup.php

*dbconn.php

*dbsetup.php

*.DS_Store

.idea/.name

*.iml

.idea/misc.xml

.idea/modules.xml

.idea/encodings.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.svn

.git
