Options +FollowSymLinks
RewriteEngine On

RewriteRule ^([0-9]*)$ index.php?loc_id=$1
RewriteRule ^index/([0-9]*)$ index.php?loc_id=$1
RewriteRule ^loc/([0-9]*)$ index.php?loc_id=$1

RewriteRule ^team/([0-9]*)$ team.php?loc_id=$1
RewriteRule ^staff/([0-9]*)$ team.php?loc_id=$1
RewriteRule ^members/([0-9]*)$ team.php?loc_id=$1

RewriteRule ^databases/([0-9]*)$ databases.php?loc_id=$1
RewriteRule ^vendors/([0-9]*)$ databases.php?loc_id=$1
RewriteRule ^resources/([0-9]*)$ databases.php?loc_id=$1

RewriteRule ^about/([0-9]*)$ about.php?loc_id=$1
RewriteRule ^aboutus/([0-9]*)$ about.php?loc_id=$1

RewriteRule ^contact/([0-9]*)$ contact.php?loc_id=$1
RewriteRule ^contactus/([0-9]*)$ contact.php?loc_id=$1

RewriteRule ^page/([0-9]*)/([0-9]*)$ page.php?page_id=$1&loc_id=$2

RewriteRule ^services/([0-9]*)$ services.php?loc_id=$1