#sliderCarousel .carousel-control i {
    margin-top: 3px;
}
.row_pad {
    margin-top: 41px;
}
.row_pad .page-content {
    margin-bottom: 41px;
}
#page .date {
    display: block;
    margin-bottom: 2px;
}
#page .keywords {
    display: block;
    margin-bottom: 20px;
}
#page span.keyword_link {
    margin-right: 4px;
}
span.keyword_link::after {
    content: ',';
}
span.keyword_link:last-child::after {
    content: '';
}
div.keyword_results_title {
    margin: 0 0 36px 15px;
}
#pages .page_title {
    display: block;
    margin-bottom: 0px;
}
#pages .page_created {
    display: block;
    margin-bottom: 12px;
}

#pages .page_read_more_btn {
    display: block;
    margin-top: 12px;
}