#sliderCarousel .carousel-control i {
    margin-top: 3px;
}
.row_pad {
    margin-top: 41px;
}
.row_pad .page-content {
    margin-bottom: 41px;
}
#page .date {
    display: block;
    margin-bottom: 2px;
}
#page .keywords {
    display: block;
    margin-bottom: 20px;
}
#page span.keyword_link {
    margin-right: 4px;
}
span.keyword_link::after {
    content: ',';
}
span.keyword_link:last-child::after {
    content: '';
}
div.keyword_results_title {
    margin: 0 0 36px 15px;
}
#pages .page_title {
    display: block;
    margin-bottom: 0px;
}
#pages .page_created {
    display: block;
    margin-bottom: 12px;
}

#pages .page_read_more_btn {
    display: block;
    margin-top: 12px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.mt-0 {
    margin-top: 0 !important;
}

.ml-2 {
    margin-left: 2px !important;
}

.ml-4 {
    margin-left: 4px !important;
}

.ml-6 {
    margin-left: 6px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.mr-2 {
    margin-right: 2px !important;
}

.mr-4 {
    margin-right: 4px !important;
}

.mr-6 {
    margin-right: 6px !important;
}

.mr-8 {
    margin-right: 8px !important;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.mb-6 {
    margin-bottom: 6px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

img.mr-10 {
    margin-right: 10px;
}

img.mr-12 {
    margin-right: 12px;
}

.px-2 {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.px-4 {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.px-6 {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.px-6 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.p-2 {
    padding: 2px !important;
}

.p-4 {
    padding: 4px !important;
}

.p-6 {
    padding: 6px !important;
}

.p-8 {
    padding: 8px !important;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

/** Responsive Styles **/
@media (max-width: 768px) {
    img.w-25 {
        width: 100%;
    }

    img.w-50 {
        width: 100%;
    }

    img.w-75 {
        width: 100%;
    }

    img.w-100 {
        width: 100%;
    }

    img.mr-2 {
        margin-right: 0;
    }

    img.mr-4 {
        margin-right: 0;
    }

    img.mr-6 {
        margin-right: 0;
    }

    img.mr-8 {
        margin-right: 0;
    }

    img.mr-10 {
        margin-right: 0;
    }

    img.mr-12 {
        margin-right: 0;
    }
}