html, body {
    padding: 0;
    margin: 0;
}
body {
    background: url('../images/stone.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
footer {
    margin: 0;
}
.row_pad {
    margin-top: 0;
    padding: 0 15px 0 15px;
}
.navbar {
    margin-bottom: 20px !important;
}

ul.navbar-Search li a {
    color: #337ab7;
    border-right: solid 1px;
    text-decoration: none;
    padding: 0px 8px 0px 8px;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}
ul.navbar-Search li a:last-child {
    border-right: none;
}

header.carousel, div.carousel {
    height: 400px;
}
.carousel-caption p {
    color: #fff;
}

.socialDiv .fa-inverse-socialmedia {
    color: #fff;
}
.btn-primary {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-primary:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
#searchlocations .panel-body, #searchpac .panel-body {
    background: #337ab7;
}
/** Google Calendar Styles **/
.rb-n {
    background: #337ab7 !important;
    border-radius: 0px;
    font-size: 10pt;
}
.view-cap, .view-container-border {
    background-color: #eee !important;
}
.mv-daynames-table {
    background: #ccc;
    color: #333;
}
.st-dtitle {
    background: #eee;
    color: #666;
}
.bubble {

}
.bubble-sprite {

}
.st-bg {

}
.st-bg-today {

}
.st-dtitle {

}
.view-cap, .view-container-border {

}
.mv-daynames-table {

}
.mv-event-container {

}