/* Global Styles */
body {
    margin-top: 100px;
    background-color: #fff;
}
body {
    font-family: "Roboto Slab";
    font-size: 14px;
    line-height: 1.42857;
    color: #404040;
}
div.required label:not(span):before, td.required:before {
    content: '* ';
    color: #d9534f;
    font-weight: bold;
}

.alert-danger p {
    color: #404040;
    margin: 0 0 .3em;
    max-width: 650px;
}
.alert-danger {
    background-color: #fce3e3;
    border-color: #faccd4;
    color: #a94442;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.alert-success {
    background-color: #e3fce7;
    border-color: #ccfacc;
    color: #3c763d;
}
.alert-info {
    background-color: #F5FBFF;
    border-color: #d1f4ff;
    color: #31708f;
}
.btn {
    -webkit-transition: border-color .25s cubic-bezier(.25,.46,.45,.94),color .25s cubic-bezier(.25,.46,.45,.94),background-color .25s cubic-bezier(.25,.46,.45,.94);
    transition: border-color .25s cubic-bezier(.25,.46,.45,.94),color .25s cubic-bezier(.25,.46,.45,.94),background-color .25s cubic-bezier(.25,.46,.45,.94);
}
#wrapper {
    padding-left: 0;
}
#page-wrapper {
    width: 100%;
    padding: 0 0 20px;
    background-color: #fff;
    min-height: 800px;
}
.huge {
    font-size: 50px;
    line-height: normal;
}
.btn-primary {
     color: #fff;
     background-color: #15698c;
}
.btn-primary:hover {
    background-color: #17a2d0;
    border-color: #1c8ab8;
}
.btn-popover-container {
    display: inline-block;
}


.btn-popover-container .btn-popover-title, .btn-popover-container .btn-popover-content {
    display: none;
}
/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

.top-nav > li > a {
    padding-top: 14px;
    line-height: 24px;
    color: #F7F7F7;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #F7F7F7;
    background-color: #187aa2;
}

.top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}
footer {
    display: none;
    visibility: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    color: #999;
    background-color: #f7f7f7;
    padding: 10px;
    border-top: 1px solid #ccc;
}

footer ul.nav-footer {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}
footer ul.nav-footer li {
    display: inline;
    margin-right: 1em;
}
.pull-right {
    float: right !important;
}
#myModal iframe, #webslideDialog iframe, #webserviceDialog iframe, #webpageDialog iframe, #webpageDialog iframe {
    width: 100%;
    height: 600px;
    border: none;
}
.modal-header {
    padding: 15px;
}
.modal-title {
    text-align: left;
}

.modal-dialog {
    width: 90%;
}
.modal-sm {
    width: 20%;
}
.modal-md {
    width: 40%;
}
.modal-lg {
    width: 80%;
}

.modal .modal-footer {
    text-align: left;
    border-radius: 0 0 6px 6px;
    background-color: #f7f7f7;
}
.page-header {
    margin: 20px 0 20px;
}

/* Side Navigation */

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #F7F7F7;
}

.side-nav > li > ul > li > a:hover {
    color: #F7F7F7;
}

.nav-section {
    background: #f7f7f7;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-radius: 4px;
    padding: 12px;
}
/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #F7F7F7;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #F7F7F7;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #F7F7F7;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

/* Flip the margins and padding on inline checkboxes and radios */

.checkbox.inline,
.checkbox.inline + .checkbox.inline,
.radio.inline,
.radio.inline + .radio.inline {
    margin-left: 0 !important;
    margin-right: 15px !important;
    padding-top: 0 !important;
    padding-bottom: 5px !important;
    white-space: nowrap !important;
}

.checkbox {
    white-space: nowrap !important;
}

/* Less vertical padding between form elements */

.form-horizontal .control-group {
    margin-bottom: 10px;
}

.table-responsive {
    min-height: 0;
    overflow-x: visible;
}

/* Custom Styles */
.modal {
    z-index: 9999 !important;
}

.version {
    display: none;
    padding: 6px 12px;
}

div.version > small > a {
    color: #F7F7F7 !important;
}

small {
    color: #848484 !important;
}

.status_msg {
    color: #3c763d !important;
}

.td_small {
    width: 100px;
}

.dropdown-menu-lg {
    min-width: 250px !important;
    min-height: 400px !important;
}
.navbar-brand {
    padding-top: 16px !important;
    padding-bottom: 0px !important;
    padding-left: 20px !important;
    padding-right: 0px !important;
}
.navbar-brand>img {
    display: none;
    padding-top: 16px !important;
    /*display: inline;*/
    width: 125px;
}

.scrollToTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: none;
    text-indent: -999px;
    background: url('../images/ui.totop.png') no-repeat left top;
}
.scrollToTop:hover {
    width: 50px;
    height: 50px;
    display: block;
    overflow: hidden;
    float: left;
    background: url('../images/ui.totop.png') no-repeat left -51px;
}
.breadcrumb {
    font-size: .9em;
    border-radius: 0;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0px;
    margin-top: -8px;
    margin-left: -24px;
    margin-right: -24px;
    list-style: none;
}
.datepicker {
    padding: 6px 12px;
}
dl, ol, ul {
    margin-top: 0;
}
.side-nav i {
    margin-right: 4px;
}
.side-nav > li > a {
    width: auto;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.side-nav li a:hover, .side-nav li a:focus {
    outline: none;
    background-color: #187aa2 !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #f7f7f7;
}
.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.loc-select {
    margin-top:8px;
    margin-left:16px;
}
.dropdown.alert-menu, .dropdown.user-menu {
    height: 50px;
}
.dropdown-menu>li>a {
    font-weight: 400;
    color: #404040;
}
.dropdown-header, .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    line-height: 1.42857;
    white-space: nowrap;
}
.side-nav {
/*    background: -webkit-linear-gradient(200deg,#666666,#202020);
    background: -o-linear-gradient(200deg,#666666,#202020);
    background: -moz-linear-gradient(200deg,#666666,#202020);
    background: linear-gradient(200deg,#666666,#202020);*/
    background-color: #666666;
}
.navbar-inverse {
    border-radius: 0;
    background-color: #1c8ab8;
    /*box-shadow: 0 2px 5px rgba(0,0,0,.26);*/
    border-bottom: solid 1px #17759c;
}
.navbar-inverse .navbar-brand {
    color: #F7F7F7;
}
.side-nav .navbar-inverse .navbar-nav>li>a {
    color: #999;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #F7F7F7;
    background-color: #15698c !important;
}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #F7F7F7;
    background-color: #15698c !important;
}
#button-menu {
    padding: 15px 15px 15px 18px;
    float: left;
    display: inline-block;
    cursor: pointer;
    color: #F7F7F7;
    border-right: solid 1px #17759c;
}
#button-menu:hover, #button-menu:focus {
    color: #F7F7F7;
    background-color: #187aa2 !important;
}
.label-update {
    padding: 10px 15px;
    color: #F7F7F7;
    border-radius: 12px;
    font-size: 14px;
    line-height: 24px;
}
/** Media Queries **/
@media screen and (min-width: 768px) {
    body {
        margin-top: 50px;
    }

    #wrapper {
        padding-left: 225px;
        transition: all 0.3s;
    }

    #page-wrapper {
        padding: 10px 10px 50px 10px;
    }
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        height: 100%;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        overflow-x: hidden;
        transition: all 0.3s;
        /*box-shadow: 2px 0px 5px rgba(0,0,0,.26);*/
    }
    .side-nav > li > a {
        width: 225px;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .shrink {
        width: 48px;
    }
    .shrink > li > a {
        /*display: inline-block;*/
        overflow: hidden;
        width: 0;
        height: 0;
        /*padding-left: 15px;*/
        padding-right: 34px !important;
        padding-bottom: 22px !important;
        padding-top: 4px !important;
        border-bottom: 0;
    }
    .shrink_wrap {
        padding-left: 45px !important;
    }
    img.img-select-option {
        max-width: 24px;
        min-width: 24px;
    }
    .icon-select-option>.glyphicon{
        /*font-size: 16pt;*/
    }
}

@media screen and (max-width: 769px) {
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100% !important;
    }

    #button-menu {
        display: none;
    }
    .nav-section {
        background: #f7f7f7;
        border-top: solid 1px #cccccc;
        border-bottom: solid 1px #cccccc;
        border-right: solid 1px #cccccc;
        border-left: solid 1px #cccccc;
        border-radius: 4px 4px 4px 4px;
        padding: 12px;
    }
}
/*Change this depending on the number of items in left nav bar*/
@media screen and (max-height: 678px) {
    .side-nav {
        height: 89%;
        margin-bottom: 0px;
        bottom: 0px;
        padding-bottom: 0px;
    }
}